{% extends "blog/base.html" %}
{% load static %}

{% block breadcrumbs %}
<a href="#!">Блог</a>
<a href="#!">Добавить статью</a>
{% endblock %}

{% block content %}
<div class="section container">
    <h3>Добавить статью</h3>
    <form method="post" enctype="multipart/form-data" action={% url 'create_article' %}>
        {% csrf_token %}
        <div class="row">
            <div class="input-field col s8">
                {{ form.title }}
            </div>
            <div class="input-field col s4">
                <button class="btn" type="submit">Опубликовать</button>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s8">
                {{ form.content }}
            </div>
            <div class="file-field input-field col s4" data-image-preview data-sel-file-input="input[type=file]" data-sel-img="img" data-sel-clear-btn="a">
                <div class="btn">
                    <span>Выбрать</span>
                    {{ form.created_image }}
                </div>
                <img class="responsive-img" src="">
                <a class="waves-effect waves-teal btn-flat"><img src="{% static 'blog/images/clear.svg' %}" alt="Clear"></a>
            </div>
        </div>
    </form>
</div>
{% endblock %}